<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>clothingstore.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>clothingstore.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminServlet</url-pattern>
        <url-pattern>/ChartServlet</url-pattern>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
        <url-pattern>/DeleteProductServlet</url-pattern>
        <url-pattern>/EditProductServlet</url-pattern>
        <url-pattern>/EditCategoryServlet</url-pattern>
        <url-pattern>/InsertCategoryServlet</url-pattern>
        <url-pattern>/InsertProductServlet</url-pattern>
        <url-pattern>/InsertUserServlet</url-pattern>
        <url-pattern>/ManageCategoryServlet</url-pattern>
        <url-pattern>/ManageOrderServlet</url-pattern>
        <url-pattern>/ManageProductServlet</url-pattern>
        <url-pattern>/ManageSupplierServlet</url-pattern>
        <url-pattern>/ManageUserServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>clothingstore.controller.web.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>clothingstore.controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>clothingstore.controller.web.shop.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>clothingstore.controller.web.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>clothingstore.controller.web.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
